// --- Colores ---
$color-principal: #00976C;
$color-secundario: #7F4F00;
$color-texto: black;
$color-fondo: white;

// --- Fuentes ---
$fuente-marca: "Eras Medium ITC", "Arial";
$fuente-general: "Arial", sans-serif;
$fuente-principal: "Century Gothic", "Arial";
$fuente-secundaria: "Berlin Sans FB Demi", "Arial";

// --- Otros ---
$font-size-small: 0.8rem;
$font-size-medium: 1rem;
$font-size-large: 1.5rem;